@model Furniture.ENTITIES.Concrete.Blog
@{
    ViewBag.Title = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekle</h2>
<br />
@using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Blog Adı:")
    @Html.TextBoxFor(x => x.BlogAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogAdi)
    <br />
    @Html.Label("Blog İçeriği:")
    @Html.TextBoxFor(x => x.BlogIcerigi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogIcerigi)
    <br />
    @Html.Label("Blog Görseli:")
    @Html.TextBoxFor(x => x.BlogGorseli, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogGorseli)
    <br />
    @Html.Label("Ürün Adı:")
    @Html.TextBoxFor(x => x.Urun.UrunAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Urun.UrunAdi)
    <br />

    <button class="btn btn-info">Blog Ekle</button>
</div>
}
