@model Furniture.ENTITIES.Concrete.Urun
@{
    ViewBag.Title = "AddUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün Ekle</h2>
<br />
@using (Html.BeginForm("AddUrun", "Urun", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Urun Adı:")
    @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UrunAdi)
    <br />
    @Html.Label("Urun Aciklamasi:")
    @Html.TextBoxFor(x => x.UrunAciklama, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UrunAciklama)
    <br />
    @Html.Label("Urun Görseli:")
    @Html.TextBoxFor(x => x.UrunGorseli, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UrunGorseli)
    <br />
    @Html.Label("Kategori Adı:")
    @Html.TextBoxFor(x => x.Kategori.KategoriAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Kategori.KategoriAdi)
    <br />
    <button class="btn btn-info">Ürün Ekle</button>
</div>
}

